<html lange="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='home.css') }}">
</head>

<body>
    <button id="logout" class="logoutButton">Logout</button>
    <div class="homePageContainer">
        <button id="restaurants" class="findRestaurantsButton">Find Restaurants</button>
        <input type="text" class="textBar" placeholder="Search for restaurants or foods...">
    </div>

<script>
// Handle logout from home page
document.getElementById('logout').addEventListener('click', async function () {
    const response = await fetch('/api/logout', {
        method: 'POST',
        credentials: 'include'  // Include cookies with the request
    });

    const data = await response.json();
    if (data.status === "OK") {
        window.location.href = '/login';  // Redirect to login page
    } else {
        alert("Logout failed. Please try again.");
    }
});

document.getElementById('restaurants').addEventListener('click', async function() {
    const response = await fetch('/api/get-restaurants', {
        method: 'GET',
        credentials: 'include'  // Include cookies with the request
    });

    const data = await response.json();
    if (data.status === "OK") {
        // Process and display the restaurant data
        console.log("Returned restaurants:", data.restaurants);
    } else {
        console.log("Failed to retrieve restaurants. Please try again.");
    }
});
// Conditional check to see if this is the user's first visit
const email = "{{ email }}";
const intro = "{{ intro }}";

// Introductory info gathering, get info on first and last name, address, and eventually take some introductory food preferences and allergy/dietary restrictions
if (intro){
}
// JavaScript to get user's location and send it to the server
navigator.geolocation.getCurrentPosition(function(position) {
    fetch('/api/set-location', {
        method: 'POST',
        headers: { 'Content-Type': 'application/json' },
        body: JSON.stringify({
            latitude: position.coords.latitude,
            longitude: position.coords.longitude
        })
    });
});
</script>

</body>
